[submodule "azooKey_dictionary_storage"]
	path = azooKey_dictionary_storage
	url = https://github.com/ensan-hcl/azooKey_dictionary_storage
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/azooKey/llama.cpp.git
